{{>layout/header}}

<h1>스프링부트로 시작하는 웹 서비스 </h1>
<br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userInfo}}
                Logged in as: <span id="user">{{userInfo.name}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <button type="button" class="btn btn-warning active" id="btn-withdraw" value="{{userInfo.id}}">회원 탈퇴</button>
            {{/userInfo}}
            {{^userInfo}}
                <a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
            {{/userInfo}}
        </div>
    </div>
    <a href="/admin/list" role="button" class="btn btn-outline-dark float-right">관리자 모드</a>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th style="width: 200px">게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}} <!--posts라는 List를 순회함-->
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}